@charset "UTF-8";
/* @theme theme */
/* 一番最初に読み込むためのラッパー */
@import "default" layer(default);
@import 'https://cdnjs.cloudflare.com/ajax/libs/hack-font/3.3.0/web/hack.min.css';
@import url("https://fonts.googleapis.com/css2?family=BIZ+UDGothic:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css");
@auto-scaling true;
header {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: var(--header-height);
}
header .header-container {
  height: 100%;
  border-style: solid;
  border-width: 0 0 5px 0;
  border-color: color-mix(in srgb, var(--text-color) 70%, white 30%);
  margin: 0 1.5rem 0 1.5rem;
  display: flex;
  align-items: flex-end;
}
header .header-container h1 {
  margin: 0;
  padding: 0;
  text-shadow: rgba(var(--text-color-rgb), 0.45) 2px 2px 10px;
}

section::after {
  width: 100%;
  left: 0;
  bottom: 0;
  font-size: var(--font-size-page);
  padding-bottom: 0.4em;
  text-align: center;
  content: attr(data-marpit-pagination) "/" attr(data-marpit-pagination-total);
}

footer {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}
footer .footer-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  padding: 0 0.6rem 0.6rem 0.6rem;
  font-size: var(--font-size-footer);
}
footer .footer-container .logo-container {
  margin-right: 3%;
  width: 20%;
}
footer .footer-container .logo-container img {
  width: 100%;
}
footer .bottom-bar {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 5px;
  background: linear-gradient(to right, var(--primary-color), var(--secondary-color));
}

.layout-col-2, section.layout-col-2 {
  --left-width: 1fr;
  --right-width: 1fr;
  --gap: 0;
  display: grid;
  grid-template-columns: var(--left-width) var(--right-width);
  grid-auto-flow: row;
  row-gap: var(--gap);
}

.layout-col-3, section.layout-col-3 {
  --left-width: 1fr;
  --center-width: 1fr;
  --right-width: 1fr;
  --gap: 0;
  display: grid;
  grid-template-columns: var(--left-width) var(--center-width) var(--right-width);
  grid-auto-flow: row;
  row-gap: var(--gap);
}

.layout-grid-22, section.layout-grid-22 {
  --cell-width: 1fr;
  --cell-height: 1fr;
  display: grid;
  grid-template-columns: repeat(2, var(--cell-width));
  grid-template-rows: repeat(2, var(--cell-height));
}

.layout-flex, section.layout-flex {
  display: flex;
}

.layout-grid, section.layout-grid {
  display: grid;
}

figure {
  display: flex;
  flex-direction: column;
  align-items: center;
}
figure img {
  border-radius: 10px;
}
figure figcaption {
  font-size: var(--font-size-text);
  margin-top: 0.5em;
}

.info, .note, .warn, .theorem {
  display: flex;
  flex-direction: column;
  border-left: 8px solid;
  border-radius: 4px;
  padding: 0.6em 1.2em 0.6em 1.2em;
}
.info:not(:last-child), .note:not(:last-child), .warn:not(:last-child), .theorem:not(:last-child) {
  margin-bottom: 0.6rem;
}
.info .caption, .note .caption, .warn .caption, .theorem .caption {
  width: 100%;
  height: 1.2em;
  font-size: var(--font-size-text-large);
  font-weight: bold;
  margin-bottom: 0.5em;
  display: inline-flex;
  align-items: center;
}
.info .caption::before, .note .caption::before, .warn .caption::before, .theorem .caption::before {
  width: 1.9em;
  margin: 0.3em 0.6em 0 0;
}

.info {
  background-color: rgb(163, 212, 250);
  border-color: rgb(55, 166, 250);
}
.info .caption::before {
  content: url("assets/template/info.svg");
  width: 1.7em;
}

.warn {
  background-color: rgb(249, 119, 154);
  border-color: rgb(180, 43, 80);
}
.warn .caption::before {
  content: url("assets/template/warning.svg");
}

.theorem {
  background-color: rgb(249, 188, 119);
  border-color: rgb(192, 129, 56);
}
.theorem .caption::before {
  content: url("assets/template/book.svg");
}

.state {
  position: absolute;
  top: 8px;
  right: 40px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  z-index: -1;
  color: var(--text-color);
}
.state > div {
  font-size: var(--font-size-text);
  min-width: 7em;
  height: 2.3em;
  padding: 0 0.6em 0 0.6em;
  text-align: center;
  line-height: 2.3em;
  position: relative;
  --radius: 20%;
  --border-width: 3px;
}
.state > div::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: skew(-45deg);
  background-color: color-mix(in srgb, var(--primary-color) 30%, white 70%);
  border-right: var(--border-width) solid white;
  z-index: -2;
}
.state > div:first-child::before {
  border-radius: var(--radius) 0 0 var(--radius);
}
.state > div:last-child::before {
  border-right: none;
  border-radius: 0 var(--radius) var(--radius) 0;
}
.state > div.active::before {
  background-color: color-mix(in srgb, var(--secondary-color) 30%, white 70%);
}

.right-curly-brace::before {
  content: "}";
}

.fukidashi {
  position: relative;
  min-width: 10em;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0.5em;
  min-height: 4em;
  background-color: #9f9fff;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  --tsuno-rotate: 100deg;
  --tsuno-left: 30%;
}
.fukidashi::before {
  content: "";
  position: absolute;
  z-index: -1;
  background-color: inherit;
  top: calc(90% - 1.5rem);
  left: var(--tsuno-left);
  width: 2.7rem;
  height: 2.7rem;
  transform: rotate(var(--tsuno-rotate)) skew(30deg, 30deg);
}

:root {
  --font-family-main: "Roboto", "BIZ UDGothic";
  --font-family-title: "Roboto", "BIZ UDGothic";
  --font-family-footer: "Roboto", "BIZ UDGothic";
  --font-family-code: "hack";
  --font-size-title: 3rem;
  --foot-size-subtitle: 2.6rem;
  --font-size-1: 2.8rem;
  --font-size-2: calc(0.9 * var(--font-size-1));
  --font-size-3: calc(0.8 * var(--font-size-1));
  --font-size-text-large: calc(1.2 * var(--font-size-text));
  --font-size-text: 20px;
  --font-size-text-small: calc(0.9 * var(--font-size-text));
  --font-size-footer: calc(0.9 * var(--font-size-text));
  --font-size-page: calc(1 * var(--font-size-text));
  --font-size-code: calc(0.95 * var(--font-size-text));
  --primary-color: #00258c;
  --primary-color-rgb: 0, 37, 140;
  --secondary-color: #ffae00;
  --secondary-color-rgb: 255, 174, 0;
  --text-color: #010327;
  --text-color-rgb: 1, 3, 39;
  --text-color-inverse: #ffffff;
  --text-color-inverse-rgb: 255, 255, 255;
  --header-height: 100px;
  --content-padding-top: calc(var(--header-height) + 20px);
  --content-padding-right: 40px;
  --content-padding-bottom: 20px;
  --content-padding-left: 40px;
}

section {
  font-family: var(--font-family-main);
  font-size: var(--font-size-text);
  color: var(--text-color);
}
section.text-large :where(p, li, code, strong, blockquote, td, section > div) {
  font-size: var(--font-size-text-large);
}
section.text-small :where(p, li, code, strong, blockquote, td, section > div) {
  font-size: var(--font-size-text-small);
}

h1 {
  font-size: var(--font-size-1);
  color: var(--primary-color);
}

h2 {
  font-size: var(--font-size-2);
  color: var(--primary-color);
}

h3 {
  font-size: var(--font-size-3);
}

code {
  font-family: var(--font-family-code);
  font-size: var(--font-size-text-small);
  border-radius: 4px;
  background-color: color-mix(in srgb, var(--primary-color) 30%, white 70%);
}

strong {
  color: var(--secondary-color);
}

ul li::marker {
  color: var(--primary-color);
}

h1, h2, h3, p {
  padding: 0;
  margin: 0;
}

img {
  background-color: transparent;
}

table {
  font-size: var(--font-size-text-small);
  text-align: end;
}
table td, table th, table tr {
  border: none;
  background-color: white;
}
table th {
  border-top: 2px solid var(--text-color);
  border-bottom: 2px solid var(--text-color);
}
table tr {
  border-bottom: 1px solid color-mix(in srgb, var(--primary-color) 30%, white 70%);
}
table tr:last-child {
  border-bottom: 2px solid var(--text-color);
}

blockquote {
  border-left: 8px solid var(--primary-color);
  border-radius: 8px;
  background-color: #fef2e2;
  font-size: var(--font-size-text);
  padding: 0.8em 1em 0.8em 1em;
}
blockquote p::before {
  content: "\f6b0";
  font-family: "bootstrap-icons";
  margin-right: 0.8em;
  color: var(--primary-color);
}

section {
  justify-content: start;
  padding: var(--content-padding-top) var(--content-padding-right) var(--content-padding-bottom) var(--content-padding-left);
}
section.title-page-v1 {
  justify-content: center;
  padding-top: 0;
}
section.title-page-v1 h1 {
  font-size: var(--font-size-title);
  color: var(--primary-color);
  text-shadow: rgba(var(--secondary-color-rgb), 0.5) 5px 5px 8px;
}
section.toc-page-v1, section.toc-page-v2 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 6.25rem;
  padding-right: 6.25rem;
  --row-number: 8;
  --toc-ul-width: 80%;
}
section.toc-page-v1 ul, section.toc-page-v2 ul {
  width: var(--toc-ul-width);
  list-style-type: none;
  border-radius: 0 0 30px 30px;
  box-shadow: 10px 10px 30px rgba(var(--primary-color-rgb), 0.3);
  padding: 2rem 2rem 2rem 2rem;
  background-color: white;
}
section.toc-page-v1 ul li, section.toc-page-v2 ul li {
  counter-increment: tocItem;
  margin: 0;
}
section.toc-page-v1 ul li::before, section.toc-page-v2 ul li::before {
  content: counter(tocItem);
  font-size: var(--font-size-text-large);
  width: 1.3em;
  height: 1.3em;
  margin: 0 0.6em 0 0.3em;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: var(--primary-color);
  color: var(--text-color-inverse);
}
section.toc-page-v1 ul {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(var(--row-number), auto);
  grid-auto-flow: column;
  row-gap: 0.6em;
}
section.toc-page-v2 {
  --toc-ul-height: 70%;
}
section.toc-page-v2 ul {
  height: var(--toc-ul-height);
  display: flex;
  flex-flow: column wrap;
  gap: 0.6em;
}
section.toc-page-v2 ul li {
  width: 50%;
}
section.footnote-page .footnote {
  margin-top: auto;
  width: 100%;
  font-size: var(--font-size-text-small);
  min-height: 4.5rem;
  border-style: dashed;
  border-width: 2px 0 0 0;
  border-color: var(--primary-color);
}
section.end-page {
  text-align: center;
  padding-bottom: 20%;
}
section.end-page p {
  margin: auto 0;
  font-size: var(--font-size-3);
}

/*# sourceMappingURL=theme.css.map */
