// ページナンバー
section {
    &::after {
        width: 100%;
        left: 0;
        bottom: 0;
        padding-bottom: calc(0.4 * var(--font-size-page));
        text-align: center;
        content: attr(data-marpit-pagination) "/" attr(data-marpit-pagination-total);
        font-size: var(--font-size-page)
    }
}

// フッター
footer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;

    // 実際のコンテナ
    .footer-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-end;
        padding: 0 0.6rem 0.6rem 0.6rem;
        font-size: var(--font-size-footer);
    
        .logo-container {
            margin-right: 3%;
            width: 20%;
            img {
                width: 100%;
            }
        }
    }

    // 底のグラデーションライン
    .bottom-bar {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: 5px;
        background: linear-gradient(to right, var(--primary-color), var(--secondary-color));
    }
}