// ヘッダー
header {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: var(--header-height);

  .header-container {
    height: 100%;
    border-style: solid;
    border-width: 0 0 5px 0;
    border-color: color-mix(in srgb, var(--text-color) 70%, white 30%);
    margin: 0 1.5rem 0 1.5rem;

    display: flex;
    align-items: flex-end;

    h1 {  
      margin: 0;
      padding: 0;
      // color-mixはできない？
      text-shadow: rgba(var(--text-color-rgb), 0.45) 2px 2px 10px;
    }
  }
}