// キャプション付き画像
figure {
  display: flex;
  flex-direction: column;
  align-items: center;

  img {
    border-radius: 10px;
  }
  figcaption {
    font-size: var(--font-size-text);
    margin-top: 0.5em;
  }
}

// info, note, warn, theoremコンテナ
// 共通部分
.info, .note, .warn, .theorem {
  display: flex;
  flex-direction: column;
  border-left: 8px solid;
  border-radius: 4px;
  padding: 0.6em 1.2em 0.6em 1.2em;

  &:not(:last-child) {
    margin-bottom: 0.6rem;
  }

  .caption {
    width: 100%;
    height: 1.2em;
    font-size: var(--font-size-text-large);
    font-weight: bold;
    margin-bottom: 0.5em;

    display: inline-flex;
    align-items: center;

    &::before {
      width: 1.9em;
      margin: 0.3em 0.6em 0 0;
    }
  }
}

// info
.info {
  background-color: rgb(163, 212, 250);
  border-color: rgb(55, 166, 250);

  .caption::before {
    content: url("assets/template/info.svg");
    width: 1.7em;
  }
}

// warn
.warn {
  background-color: rgb(249, 119, 154);
  border-color: rgb(180, 43, 80);

  .caption::before {
    content: url("assets/template/warning.svg");
  }
}

// theorem
.theorem {
  background-color: rgb(249, 188, 119);
  border-color: rgb(192, 129, 56); 

  .caption::before {
    content: url("assets/template/book.svg");
  }
}

// 状態
.state {
  position: absolute;
  top: 8px;
  right: 40px;

  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  z-index: -1;
  color: var(--text-color);
  
  &>div {
    font-size: var(--font-size-text);
    min-width: 7em;
    height: 2.3em;
    padding: 0 0.6em 0 0.6em;

    text-align: center;
    line-height: 2.3em; // 縦の中央寄せのため
    position: relative; // ::beforeのabsoluteのため

    --radius: 20%;
    --border-width: 3px;
    
    &::before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      transform: skew(-45deg);
      background-color: color-mix(in srgb, var(--primary-color) 30%, white 70%);
      border-right: var(--border-width) solid white;
      z-index: -2;
    }
    &:first-child::before {
      border-radius: var(--radius) 0 0 var(--radius);
    }
    &:last-child::before {
      border-right: none;
      border-radius: 0 var(--radius) var(--radius) 0;
    }

    &.active::before {
      background-color: color-mix(in srgb, var(--secondary-color) 30%, white 70%);
    }
  }
}

// 右の中括弧
.right-curly-brace {
  &::before {
    content: "\007D";
  }
}

// 吹き出し
.fukidashi {
  position: relative;
  min-width: 10em;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0.5em;
  min-height: 4em;
  
  background-color: #9f9fff;
  border-radius: 15px;

  display: flex;
  justify-content: center;
  align-items: center;
  --tsuno-rotate: 100deg;
  --tsuno-left: 30%;

  &::before {
    content: "";
    position: absolute;
    z-index: -1;
    background-color: inherit;
    top: calc(90% - 1.5rem);
    left: var(--tsuno-left);
    width: 2.7rem;
    height: 2.7rem;
    transform: rotate(var(--tsuno-rotate)) skew(30deg, 30deg);
  }
}