// キャプション付き画像
.img-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  img {
    border-radius: 10px;
  }
  .caption {
    font-size: var(--font-size-text);
    margin-top: 0.5rem;
  }
}

// info, note, warn, theoremコンテナ
// 共通部分
.info, .note, .warn, .theorem {
  display: flex;
  flex-direction: column;
  border-left: 8px solid;
  border-radius: 4px;
  padding: 0.6rem 1.2rem 0.6rem 1.2rem;

  &:not(:last-child) {
    margin-bottom: 0.6rem;
  }

  .caption {
    width: 100%;
    height: calc(1.2 * var(--font-size-text-large));
    font-size: var(--font-size-text-large);
    font-weight: bold;
    margin-bottom: calc(0.5 * var(--font-size-text-large));

    display: inline-flex;
    align-items: center;

    &::before {
      width: calc(1.9 * var(--font-size-text-large));
      margin: calc(0.3 * var(--font-size-text-large)) calc(0.6 * var(--font-size-text-large)) 0 0;
    }
  }
}

// info
.info {
  background-color: rgb(163, 212, 250);
  border-color: rgb(55, 166, 250);

  .caption::before {
    content: url("assets/template/info.svg");
    width: calc(1.7 * var(--font-size-text-large));
  }
}

// warn
.warn {
  background-color: rgb(249, 119, 154);
  border-color: rgb(180, 43, 80);

  .caption::before {
    content: url("assets/template/warning.svg");
  }
}

// theorem
.theorem {
  background-color: rgb(249, 188, 119);
  border-color: rgb(192, 129, 56); 

  .caption::before {
    content: url("assets/template/book.svg");
  }
}

// 状態
.state {
  position: absolute;
  top: 8px;
  right: 40px;

  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  z-index: -1;
  color: var(--text-color);
  
  &>div {
    min-width: 7rem;
    height: 2.3rem;
    position: relative;
    padding: 0 0.6rem 0 0.6rem;
    font-size: var(--font-size-text);

    display: flex;
    justify-content: center;
    align-items: center;
    --radius: 20%;
    --border-width: 3px;
    
    &::before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      transform: skew(-45deg);
      background-color: color-mix(in srgb, var(--primary-color) 30%, white 70%);
      border-right: var(--border-width) solid white;
      z-index: -2;
    }
    &:first-child::before {
      border-radius: var(--radius) 0 0 var(--radius);
    }
    &:last-child::before {
      border-right: none;
      border-radius: 0 var(--radius) var(--radius) 0;
    }

    &.active::before {
      background-color: color-mix(in srgb, var(--secondary-color) 30%, white 70%);
    }
  }
}

// 右の中括弧
.right-curly-brace {
  &::before {
    content: "\007D";
  }
}

// 吹き出し
.fukidashi {
  position: relative;
  min-width: 10rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0.5rem;
  min-height: 4rem;
  
  background-color: #9f9fff;
  border-radius: 15px;

  display: flex;
  justify-content: center;
  align-items: center;
  --tsuno-rotate: 100deg;
  --tsuno-left: 30%;

  &::before {
    content: "";
    position: absolute;
    z-index: -1;
    background-color: inherit;
    top: calc(90% - 1.5rem);
    left: var(--tsuno-left);
    width: 2.7rem;
    height: 2.7rem;
    transform: rotate(var(--tsuno-rotate)) skew(30deg, 30deg);
  }
}